.me-project{
    height: 100px;
}
.me-project li{
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    float: left;
    margin: 20px;
}
.me-project-create{
    cursor: pointer;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}
.me-project-create:hover{
    color: #5972dd;
    transition: .3s;
}