.repo{
    padding-top: 50px;
}
.repo h3{
    font-size: 20px;
}
.repo h4{
    font-size: 18px;
}
.repo a{
    font-size: 14px;
}
.repo .active{
    color: #60a4dd;
}
.repo div span{
    font-size: 14px;
    cursor: pointer;

}
.repo div span:hover{
    text-decoration: underline;
}